{% if page.title == "Home" or page.title == "Blog" %}{% assign x = true %}{% endif %}

{% if x == true %}
    <header class="home__header">
        <img alt="{{ site.name }}" src="{{ site.url }}/{{ site.picture }}" />

        <h1>{{ site.name }}</h1>
        <h2>{{ site.bio }}</h2>

        <div class="home__header-social">
            <a title="Review my research on Google Scholar" href="https://scholar.google.com/citations?hl=en&user={{ site.scholar }}" target="_blank"><i class="ai ai-google-scholar-square ai-2x"></i></a>
            <a title="Connect with me on LinkedIn" href="https://www.linkedin.com/in/{{ site.username }}" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
            <a title="Check out my code on GitHub" href="https://www.github.com/{{ site.username }}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
            <a title="View my presentations on SlideShare" href="http://www.slideshare.net/{{ site.username }}" target="_blank"><i class="fa fa-slideshare fa-2x"></i></a>
            <a title="Get my public keys on Keybase.io" href="https://www.keybase.io/{{ site.username }}" target="_blank"><i class="fa fa-key fa-2x"></i></a>
            <a title="Follow me on Twitter" href="https://www.twitter.com/{{ site.username }}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
            <a title="View my photos on Instagram" href="https://www.instagram.com/{{ site.username }}" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
            <a title="Send me an Email" href="mailto:{{ site.email }}" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>
        </div>
    </header>
{% endif %}

{% include nav.html %}
